/CallAPI_TranslateGoogleNihongo/TranslateJPENAssembly/bin
/CallAPI_TranslateGoogleNihongo/TranslateJPENAssembly/obj
/CallAPI_TranslateGoogleNihongo/CallAPI_TranslateGoogleNihongo/bin
/CallAPI_TranslateGoogleNihongo/CallAPI_TranslateGoogleNihongo/obj
