/CallAPI_TranslateGoogleNihongo/TranslateJPENAssembly/bin
/CallAPI_TranslateGoogleNihongo/TranslateJPENAssembly/obj
/CallAPI_TranslateGoogleNihongo/CallAPI_TranslateGoogleNihongo/bin
/CallAPI_TranslateGoogleNihongo/CallAPI_TranslateGoogleNihongo/obj
/TestKeyboardHook/.vs
/TestKeyboardHook/KeyboardHook/bin
/TestKeyboardHook/KeyboardHook/obj
/TestKeyboardHook/TestKeyboardHook/bin
/TestKeyboardHook/TestKeyboardHook/obj
