<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
	<add key="UrlTransalteGoogleWebAPI" value="https://translate.google.com.vn/"/>
    <add key="UrlZenWebAPI" value="http://192.168.0.12/ZenWebAPI/api/"/>
	<!--<add key="TKK" value="434290.2964237244"/>-->
	<add key="TKK" value="434388.622414446"/>
	

</appSettings>
</configuration>