<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ArraySheetConvert" value="入力チェック仕様 "/>
    <add key="MaxRequest" value="200"/>
    <add key="SL" value="ja"/>
    <add key="TL" value="en"/>
    <add key="MaxLenPerRequest" value="1000"/>
  </appSettings>
</configuration>